USE [master]
GO
/****** Object:  Database [bakeryshop]    Script Date: 7/14/2025 4:13:47 PM ******/
CREATE DATABASE [bakeryshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bakeryshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bakeryshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bakeryshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bakeryshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bakeryshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bakeryshop]
GO
/****** Object:  User [sa1]    Script Date: 7/14/2025 4:13:48 PM ******/
CREATE USER [sa1] FOR LOGIN [sa1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[blogs]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blogs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[image_url] [varchar](255) NULL,
	[short_description] [nvarchar](500) NULL,
	[author_id] [bigint] NOT NULL,
	[is_published] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cart_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[sub_total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [varchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[featured] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[sub_total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[shipping_address] [nvarchar](255) NOT NULL,
	[shipping_name] [nvarchar](255) NOT NULL,
	[shipping_phone] [varchar](20) NOT NULL,
	[order_status] [varchar](50) NULL,
	[payment_method] [varchar](50) NOT NULL,
	[payment_status] [varchar](50) NULL,
	[payment_id] [varchar](255) NULL,
	[transaction_no] [varchar](255) NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[shipper_id] [bigint] NULL,
	[shipping_note] [nvarchar](255) NULL,
	[shipping_time] [datetime] NULL,
	[delivered_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[image_url] [varchar](255) NULL,
	[stock] [int] NULL,
	[is_best_seller] [bit] NULL,
	[is_new_arrival] [bit] NULL,
	[category_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[active] [bit] NOT NULL,
	[sold] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shippers]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shippers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[identity_card] [varchar](20) NOT NULL,
	[vehicle_number] [varchar](20) NULL,
	[vehicle_type] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[current_location] [nvarchar](255) NULL,
	[last_location_update] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/14/2025 4:13:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[role] [varchar](20) NULL,
	[is_enabled] [bit] NULL,
	[verification_token] [varchar](64) NULL,
	[verification_token_expiry] [datetime2](7) NULL,
	[is_email_verified] [bit] NULL,
	[reset_password_token] [varchar](64) NULL,
	[reset_password_token_expiry] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[is_blocked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blogs] ON 

INSERT [dbo].[blogs] ([id], [title], [content], [image_url], [short_description], [author_id], [is_published], [created_at], [updated_at]) VALUES (1, N'Cách làm bánh mì tại nhà', N'<h2>Nguyên liệu:</h2>
<ul>
<li>500g bột mì</li>
<li>10g men nở</li>
<li>10g muối</li>
<li>320ml nước ấm</li>
</ul>
<h2>Các bước thực hiện:</h2>
<p>1. Trộn bột mì với men nở...</p>
<p>2. Nhồi bột trong 10 phút...</p>
<p>3. Ủ bột trong 1 giờ...</p>', N'blog-banh-mi.jpg', N'Hướng dẫn chi tiết cách làm bánh mì tại nhà với công thức đơn giản', 1, 1, CAST(N'2025-07-03T10:36:56.9500000' AS DateTime2), NULL)
INSERT [dbo].[blogs] ([id], [title], [content], [image_url], [short_description], [author_id], [is_published], [created_at], [updated_at]) VALUES (3, N'Cách bảo quản bánh kem', N'<h2>Nhiệt độ bảo quản</h2>
<p>Bánh kem nên được bảo quản ở nhiệt độ 2-5 độ C...</p>
<h2>Thời gian bảo quản</h2>
<p>Bánh kem tươi nên được sử dụng trong vòng 2-3 ngày...</p>', N'/uploads/banh-kem.jpg', N'Những mẹo hữu ích giúp bảo quản bánh kem tươi ngon lâu hơn', 1, 1, CAST(N'2025-07-03T10:36:56.9500000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [sub_total]) VALUES (1, 1, 1, 2, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [sub_total]) VALUES (2, 1, 4, 1, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [sub_total]) VALUES (3, 2, 7, 1, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[cart_items] OFF
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([id], [user_id], [total_amount], [created_at], [updated_at]) VALUES (1, 2, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-07-03T10:36:56.9533333' AS DateTime2), NULL)
INSERT [dbo].[carts] ([id], [user_id], [total_amount], [created_at], [updated_at]) VALUES (2, 3, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-07-03T10:36:56.9533333' AS DateTime2), NULL)
INSERT [dbo].[carts] ([id], [user_id], [total_amount], [created_at], [updated_at]) VALUES (3, 4, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-07-03T19:31:14.3296469' AS DateTime2), CAST(N'2025-07-05T21:53:32.7514010' AS DateTime2))
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description], [image_url], [created_at], [updated_at], [featured]) VALUES (1, N'Bánh mì', N'Các loại bánh mì tươi ngon, được làm từ nguyên liệu chất lượng cao', N'banh-mi.jpg', CAST(N'2025-07-03T10:36:56.9333333' AS DateTime2), CAST(N'2025-07-11T10:37:56.5519638' AS DateTime2), 1)
INSERT [dbo].[categories] ([id], [name], [description], [image_url], [created_at], [updated_at], [featured]) VALUES (2, N'Bánh ngọt', N'Các loại bánh ngọt hấp dẫn, phù hợp cho những buổi tiệc trà', N'banh-ngot.jpg', CAST(N'2025-07-03T10:36:56.9333333' AS DateTime2), NULL, 1)
INSERT [dbo].[categories] ([id], [name], [description], [image_url], [created_at], [updated_at], [featured]) VALUES (3, N'Bánh kem', N'Bánh kem tươi ngon cho các dịp sinh nhật và sự kiện đặc biệt', N'banh-kem.jpg', CAST(N'2025-07-03T10:36:56.9333333' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [sub_total]) VALUES (1, 1, 1, 2, CAST(15000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [sub_total]) VALUES (2, 1, 4, 1, CAST(23000.00 AS Decimal(10, 2)), CAST(23000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [sub_total]) VALUES (3, 2, 7, 1, CAST(300000.00 AS Decimal(10, 2)), CAST(300000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [total_amount], [shipping_address], [shipping_name], [shipping_phone], [order_status], [payment_method], [payment_status], [payment_id], [transaction_no], [note], [created_at], [updated_at], [shipper_id], [shipping_note], [shipping_time], [delivered_time]) VALUES (1, 2, CAST(53000.00 AS Decimal(10, 2)), N'123 Đường ABC, Quận 1, TP.HCM', N'Nguyễn Văn A', N'0987654321', N'DELIVERED', N'COD', N'PAID', N'123456789', N'TX123456789', N'Giao hàng đúng hẹn', CAST(N'2025-07-03T10:36:56.9666667' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [user_id], [total_amount], [shipping_address], [shipping_name], [shipping_phone], [order_status], [payment_method], [payment_status], [payment_id], [transaction_no], [note], [created_at], [updated_at], [shipper_id], [shipping_note], [shipping_time], [delivered_time]) VALUES (2, 3, CAST(300000.00 AS Decimal(10, 2)), N'456 Đường XYZ, Quận Cầu Giấy, Hà Nội', N'Trần Thị B', N'0909123456', N'CONFIRMED', N'VNPAY', N'PAID', N'987654321', N'TX987654321', N'Giao hàng đúng hẹn', CAST(N'2025-07-03T10:36:56.9666667' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [user_id], [total_amount], [shipping_address], [shipping_name], [shipping_phone], [order_status], [payment_method], [payment_status], [payment_id], [transaction_no], [note], [created_at], [updated_at], [shipper_id], [shipping_note], [shipping_time], [delivered_time]) VALUES (7, 4, CAST(45000.00 AS Decimal(10, 2)), N'ducnt', N'ducnt', N'0386693354', N'PENDING', N'COD', N'PENDING', NULL, NULL, N'ducnt', CAST(N'2025-07-05T21:23:19.7273177' AS DateTime2), CAST(N'2025-07-05T21:23:19.7424026' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [description], [price], [image_url], [stock], [is_best_seller], [is_new_arrival], [category_id], [created_at], [updated_at], [active], [sold]) VALUES (1, N'Bánh mì thịt', N'Bánh mì kẹp thịt truyền thống, với các loại rau sống và sốt tự làm', CAST(15000.00 AS Decimal(10, 2)), N'banh-mi-thit.jpg', 90, 1, 0, 1, CAST(N'2025-07-03T10:36:56.9400000' AS DateTime2), CAST(N'2025-07-13T19:08:25.2761317' AS DateTime2), 1, 0)
INSERT [dbo].[products] ([id], [name], [description], [price], [image_url], [stock], [is_best_seller], [is_new_arrival], [category_id], [created_at], [updated_at], [active], [sold]) VALUES (2, N'Bánh mì gà', N'Bánh mì kẹp thịt gà xé, rau răm và sốt mayonnaise', CAST(18000.00 AS Decimal(10, 2)), N'banh-mi-ga.jpg', 80, 0, 1, 1, CAST(N'2025-07-03T10:36:56.9400000' AS DateTime2), NULL, 1, 0)
INSERT [dbo].[products] ([id], [name], [description], [price], [image_url], [stock], [is_best_seller], [is_new_arrival], [category_id], [created_at], [updated_at], [active], [sold]) VALUES (3, N'Bánh mì chả', N'Bánh mì kẹp chả lụa truyền thống', CAST(12000.00 AS Decimal(10, 2)), N'banh-mi-cha.jpg', 90, 1, 0, 1, CAST(N'2025-07-03T10:36:56.9400000' AS DateTime2), NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password], [name], [phone], [address], [role], [is_enabled], [verification_token], [verification_token_expiry], [is_email_verified], [reset_password_token], [reset_password_token_expiry], [created_at], [updated_at], [is_blocked]) VALUES (1, N'admin@bakeryshop.com', N'$2a$10$Q9utWMrq7GCpyWUTijj7vuY056FdLTU6T/w7jZkylrXKiaz5yw1uC', N'Admin', N'0123456789', N'Hà Nội', N'ADMIN', 1, NULL, NULL, 1, NULL, NULL, CAST(N'2025-07-03T10:36:56.9266667' AS DateTime2), NULL, 0)
INSERT [dbo].[users] ([id], [email], [password], [name], [phone], [address], [role], [is_enabled], [verification_token], [verification_token_expiry], [is_email_verified], [reset_password_token], [reset_password_token_expiry], [created_at], [updated_at], [is_blocked]) VALUES (2, N'user1@example.com', N'$2a$10$Q9utWMrq7GCpyWUTijj7vuY056FdLTU6T/w7jZkylrXKiaz5yw1uC', N'Nguyễn Văn A', N'0987654321', N'123 Đường ABC, Quận 1, TP.HCM', N'ADMIN', 1, NULL, NULL, 1, NULL, NULL, CAST(N'2025-07-03T10:36:56.9266667' AS DateTime2), CAST(N'2025-07-13T19:18:18.4786388' AS DateTime2), 0)
INSERT [dbo].[users] ([id], [email], [password], [name], [phone], [address], [role], [is_enabled], [verification_token], [verification_token_expiry], [is_email_verified], [reset_password_token], [reset_password_token_expiry], [created_at], [updated_at], [is_blocked]) VALUES (3, N'user2@example.com', N'$2a$10$Q9utWMrq7GCpyWUTijj7vuY056FdLTU6T/w7jZkylrXKiaz5yw1uC', N'Trần Thị B', N'0909123456', N'456 Đường XYZ, Quận Cầu Giấy, Hà Nội', N'USER', 1, NULL, NULL, 1, NULL, NULL, CAST(N'2025-07-03T10:36:56.9266667' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__carts__B9BE370E59D9FADD]    Script Date: 7/14/2025 4:13:48 PM ******/
ALTER TABLE [dbo].[carts] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__72E12F1B61F08FC4]    Script Date: 7/14/2025 4:13:48 PM ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__shippers__4943C3B41579D47D]    Script Date: 7/14/2025 4:13:48 PM ******/
ALTER TABLE [dbo].[shippers] ADD UNIQUE NONCLUSTERED 
(
	[identity_card] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__shippers__B43B145FCAABA122]    Script Date: 7/14/2025 4:13:48 PM ******/
ALTER TABLE [dbo].[shippers] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61646213ED7B]    Script Date: 7/14/2025 4:13:48 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[blogs] ADD  DEFAULT ((0)) FOR [is_published]
GO
ALTER TABLE [dbo].[blogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((0)) FOR [sub_total]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((0)) FOR [featured]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('PENDING') FOR [order_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_best_seller]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_new_arrival]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [sold]
GO
ALTER TABLE [dbo].[shippers] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_enabled]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_blocked]
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Shippers] FOREIGN KEY([shipper_id])
REFERENCES [dbo].[shippers] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_Orders_Shippers]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
USE [master]
GO
